span{
    font-size: 25px;
    color: rgb(29, 236, 243);
    margin-right: 10px;
    padding-bottom: 5px;
}
.icon {
    text-align: center;
}
form, .text-allignment, .display {
    border: 1px solid red;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px 0 20px 30px;
    
}
.text-color ol li p{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.color, .text-transform{
    width: 60%;
    margin: auto;
    border: 2px dotted rgb(127, 6, 240);
    padding: 20px;
}